/* Los estilos de este archivo, seran estilos complementarios para el html "buscar_estudiante.html */
.administracion {
    color: #009CDE;
    font-size: 16px;
    font-weight: normal;
}

.estudiantes {
    color: #555555;
    font-size: 16px;
    font-weight: normal;
}

/* Estilos del primer bloque del registro de un estudiante */
.form_contenedor form {
    margin-bottom: 10px;
}

.form_contenedor placeholder,
.form_contenedor span {
    color: #6A737C;
}

.form_contenedor label {
    color: #545454;
}

.form_contenedor h2 {
    color: #009CDE;
    font-size: 18px;
    font-weight: normal;
}

.genero_contenedor div {
    display: flex;
    gap: 10px;
}

input[type="number"],
input[type="text"],
input[type="date"],
input[type="email"],
select[name="residencia"] {
    width: 240px;
}

input[type="radio"] {
    width: 37px;
}

.contenedor_direccion input {
    width: 515px;
}

.grado_contenedor select {
    width: 115px;
}

.grupo_contenedor select {
    width: 115px;
    margin-left: 45px;
}

/* Pequeños estilos para los inputs de la tabla  */
table select,
#nota {
    width: 130px;
}

/* Contenedor de los botones */
.butonns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Estilos de los botones */
.btn_cancelar {
    border: 1px solid #009CDE;
    color: #009DE0;
    width: 94px;
    height: 35px;
    border-radius: 10px;
}

.btn_guardar {
    background-color: #049EF4;
    border: none;
    width: 94px;
    height: 35px;
    border-radius: 10px;
    color: #FCFCFC;
}